table {
    border: 3px solid red;
}

h3{
    background-color: peach;
    border: 5px dotted yellow;
    width: fit-content;
}

h1 {
    color: purple;
    background-color:yellow;
    margin-right: 5%;
    margin-left: 5%;
}

#bottom {
    height: 500px;
    font-size: 36px;
    color: white;
    background-color:green;
    border: 7px solid yellow;
    margin-right: 5%;
    margin-left: 5%;
}

#line2 {
    color:sandybrown;
    font-size:20px;

}

.title{
    border-bottom: 5px dashed grey;
    background-color:aquamarine;
    font-size: 24px;
}

#bottom_background {
    background-color: salmon;
}
#middle {
    font-size: 24px;
}

#words {
    color: black;
    font-size:18px;
}

.tophalf {
    background-color: aqua;
}

.city {
    color: purple;
    font-size: 20px;
}

td {
    text-align: center;
}

#falseEqual {
    border-bottom: 5px solid brown;
    color: orange;
    width:fit-content
}

#BottonSection {
    color:burlywood;
}

#numberbox {
    align-content:flex-start;
    border: 5px dotted blue; 
    width: 17%; /* Set the width of the sidebar */
	position: fixed;
    height: 25%;
	right: 20%;  /*was left: 20*/
    background-color: lightpink;
}

#justButton{
    border-radius: 50%;
    width: auto;
    height: 35px;
    color: lightcoral;
}

#forNow {
    font-size: 18px;
    color: rgb(49, 122, 146);
}

.tableData {
    border-left: 1px solid black ;
    border-right: 1px solid black ;
    /* border-bottom: 1px solid black ; */
}

.TitleRow {
    border-bottom: 1px solid black ;
}

.NumberBox2 {
    align-content:flex-start;
    border: 5px dotted blue; 
    width: 17%; 
	position: fixed;
    height: 25%;
	bottom: 3%;
    right:6%;
    background-color: lightpink;
}


.inputfields {
    width: 3em;
    border-bottom: 1px dashed grey;
    border-top:none;
    border-right:none;
    border-left:none;
    background: none;
    width: 69px;
}

#boxwords{
 font-size: 24px;
 color: black;   
}

#number1{
    width:2em;
}

#number2{
    width:2em;
}